{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'authenthicating/styleChangePass.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
    <div class="page">
        <div class="header">
          <h3 class="logo">Create A Strong Password</h3>
          <p>Your password must be at least six characters and should include a combination of numbers, letters and special characters (!$@%).</p>
        </div>
        <div class="container">
          <form action="" method="post">
            {% csrf_token %}
            <input type="password" placeholder="New Password" name="new_password">
            <input type="password" placeholder="New Password, Again" name="reconfirm_password">
            <input class="btn" type="submit" value="Reset Password" style="width: inherit;
            margin-bottom: 20px;padding: 7px 20px;border-radius: 5px;border: none;background-color: #0095f6;color: #ffffff;">
          </form>
        </div>
    </div>
    <div class="footer">
      <ul>
        <li><a href="">ABOUT</a></li>
        <li><a href="">HELP</a></li>
        <li><a href="">PRESS</a></li>
        <li><a href="">API</a></li>
        <li><a href="">JOBS</a></li>
        <li><a href="">PRIVACY</a></li>
        <li><a href="">TEMS</a></li>
        <li><a href="">LOCATIONS</a></li>
        <li><a href="">TOP ACCOUNTS</a></li>
        <li><a href="">HASHTAGS</a></li>
        <li><a href="">LANGUAGE</a></li>
      </ul>
      <p>© 2020 PICTUREGRAM</p>
    </div>
    <main>
</body>


  