{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'authenthicating/styleForgetPass.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main>
    <div class="page">
        <div class="header">
          <h3 class="logo">Trouble Logging In?</h3>
          <p>Enter your email, phone, or username and we'll send you a link to get back into your account.</p>
        </div>
        <div class="container">
          <form action="" method="post">
            {% csrf_token %}
            <input type="text" placeholder="username" name="username">
            <input class="btn" type="submit" value="Send logging link" style="width: inherit;
            margin-bottom: 20px;padding: 7px 20px;border-radius: 5px;border: none;background-color: #0095f6;color: #ffffff;">
            {% if messages %}
            {% for message in messages %}
            <div class="error" style="margin-top: 10px;font-size: 14px;line-height: 18px;text-align: center;
            color: #ed4956;color: rgba(var(--i30,237,73,86),1);">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}
          </form>
        </div>
        <div class="sub-content">
          <div class="s-part">
          Back to login?<a href="{% url 'login' %}"> Login</a>
          </div>
        </div>
    </div>
    <div class="footer">
      <ul>
        <li><a href="">ABOUT</a></li>
        <li><a href="">HELP</a></li>
        <li><a href="">PRESS</a></li>
        <li><a href="">API</a></li>
        <li><a href="">JOBS</a></li>
        <li><a href="">PRIVACY</a></li>
        <li><a href="">TEMS</a></li>
        <li><a href="">LOCATIONS</a></li>
        <li><a href="">TOP ACCOUNTS</a></li>
        <li><a href="">HASHTAGS</a></li>
        <li><a href="">LANGUAGE</a></li>
      </ul>
      <p>© 2020 PICTUREGRAM</p>
    </div>
    <main>
</body>


  