{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'db/stylePost.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <main>
    <div >
        <div >
          <h1 class="logo">Post image</h1>
        </div>
        <div class="container" >
          <form action="" method ="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" placeholder="Caption" name="caption">
            <input type="text" placeholder="Description" name="description">
            <input type="file" placeholder="Image" name="myfile" multiple>
            <input type="submit" value="Post Image"/>
          </form>
        </div>
    </div>
    <main>
</body>


  